/* Main background */
main {
    background-image: url('../Images/WE-bkg.png');
}

/* Stick the header to the top of the page */
header {
    box-shadow: 0px 7px 11px black;
    position: sticky;
    top: 0;
    z-index: 2;
    background-image: url('../Images/plaid.png');
    color: white;
}

/* Styling for each gift tile */
.tile {
    height: 175px;
    width: 175px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin: 6px;
}

.tile:hover {
    cursor: pointer;
}

.locked:hover {
    cursor: no-drop;
}

/* Formatting for the results list */
#results {
    color: white;
    background-color: gray;
}

/* Set the position of the results list toggler */
#results-btn {
    position: fixed;
    bottom: 10px;
}

/* Format the tile number */
.tileNum {
    color: white;
    text-align: center;
    font-family: 'Ravie', Arial, Helvetica, sans-serif;
}

/* Styling for the owner text area */
.owner {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0%;
}

/* Stolen prizes will display a small icon */
.stolen::after {
    display: block;
    content: "";
    background: url('../Images/X.png');
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
}

/* Locked prizes will enlarge the icon */
.locked::after {
    display: block;
    position: relative;
    left: 15%;
    content: "";
    background: url(../Images/X.png);
    background-size: 125px 125px;
    height: 125px;
    width: 125px;
}